input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
textarea {
	border: 1px solid $color-border-input;
	border-radius: 3px;
	color: $color-text-input;

	&:focus {
		color: $color-text-input-focus;
	}
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'] {
	padding: rem-calc(3);
}

textarea {
	padding-left: rem-calc(3);
	width: 100%;
}