.wp-caption {
	margin-bottom: rem-calc(24);
	max-width: 100%;

	img[class*='wp-image-'] {
		@include center-block;
	}

	.wp-caption-text {
		margin: rem-calc(13) 0;
	}
}

.wp-caption-text {
	text-align: center;
}