h1, h2, h3, h4, h5, h6, .sitetitle {
	clear: both;
    font-family: $font__header;
}

h1 {
    font-size: 1.25em;
    margin: 0.67em 0;

    @media (min-width: $screen-md-min) {
        font-size: 2em;
        margin: 0.67em 0;
    }
}

h2 {
    font-size: 1.15em;
    margin: 0.67em 0;
}

h3 {
    font-size: 1em;
    margin: 0.5em 0;
}