h1,
h2,
h3,
h4,
h5,
h6,
.site-title {
	clear: both;
	font-family: $font-header;
}

h1 {
	font-size: rem-calc(20);
	margin: rem-calc(11) 0;

	@media (min-width: $screen-md-min) {
		font-size: rem-calc(32);
	}
}

h2 {
	font-size: rem-calc(18);
	margin: rem-calc(11) 0;
}

h3 {
	font-size: rem-calc(16);
	margin: rem-calc(8) 0;
}