ul,
ol {
	margin: 0 0 rem-calc(24) rem-calc(48);
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: rem-calc(24);
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 rem-calc(24) rem-calc(24);
}