.main-navigation {
	position: fixed;
	bottom: 0;
	left: 0;
	clear: both;
	display: block;
	float: left;
	width: 100%;
	background: $color__highlight;

	@media screen and (min-width: 37.5em) {
		position: relative;
	}


	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		position: relative;

		@media screen and (min-width: 37.5em) {
			float: left;
		}

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		padding: 0.25em;
		text-decoration: none;
		color: #FFF;

		&:hover,
		&:focus {
			color: $color__highlight;
			background: #FFF;
		}

	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle {
	width: 100%;
	border: none;
	border-top: 2px solid transparent;
	padding: 1em;
	background: transparent;
	box-shadow: none;
	color: #FFF;
	text-shadow: none;
	text-transform: uppercase;
	border-radius: none;

	&:hover,
	&:focus {
		color: $color__highlight;
		border-top-color: $color__highlight;
		background: #FFF;
		box-shadow: none;
	}
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
