.site-header {
    color: $color__highlight;
    background: fade_out($color__highlight, 0.97);
    border-bottom: 1px solid fade_out($color__highlight, 0.85);
    display: flex;
    flex-flow: row wrap;
    flex: 1 100%;

    .site-branding {
        text-align: center;
        flex: 1;

        @media screen and (min-width: 37.5em) {
            text-align: left;
        }
    }

    @media screen and (min-width: 37.5em) {
        padding: 0 5%;
    }

    .sitetitle {
        display: block;
        margin: 0.25em 0;
        font-size: 1.5em;
        font-weight: bold;
        line-height: 40px;
        text-decoration: none;
        color: $color__highlight;
    }

    .main-navigation {
        flex: 5;
    }
}