.site-header {
	background: $color-highlight;
	border-bottom: 1px solid transparentize($color-lowlight, 0.85);
	color: $color-lowlight;
	display: flex;
	flex: 1 100%;
	flex-flow: row wrap;

	.site-branding {
		flex: 1;
		text-align: center;

		@media screen and (min-width: 37.5em) {
			text-align: left;
		}
	}

	@media screen and (min-width: 37.5em) {
		padding: 0 5%;
	}

	.site-title {
		color: $color-lowlight;
		display: block;
		font-size: 1.5em;
		font-weight: bold;
		line-height: 40px;
		margin: rem-calc(4) 0;
		text-decoration: none;
	}

	.main-navigation {
		flex: 5;
	}
}